In [2]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

"""

SQL Databases: Organize data into tables with rows and columns, using structured query language (SQL) for manipulation. Good for complex queries and strong consistency.
  
NoSQL Databases: Store and retrieve data in various formats, such as key-value pairs or document-oriented structures. Suited for handling large volumes of unstructured data, with high scalability and flexibility."""

'\n\nSQL Databases: Organize data into tables with rows and columns, using structured query language (SQL) for manipulation. Good for complex queries and strong consistency.\n  \nNoSQL Databases: Store and retrieve data in various formats, such as key-value pairs or document-oriented structures. Suited for handling large volumes of unstructured data, with high scalability and flexibility.'

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#CREATE
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(50),
    Department VARCHAR(50)
);

#DROP
DROP TABLE Name;

#ALTER
ALTER TABLE Employees
ADD Salary DECIMAL(12, 2);

#TRUNCATE
TRUNCATE TABLE Employees;

In [ ]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#INSERT
INSERT INTO Products (ProductID, Name, Price, Category)
VALUES (101, 'Laptop', 1200.00, 'Electronics');

#UPDATE
UPDATE Products
SET Price = 1300.00
WHERE ProductID = 101;

#DELETE
DELETE FROM Products
WHERE Discontinued = 1;

In [ ]:
#Q4. What is DQL? Explain SELECT with an example.

SELECT EmployeeID, Name, Department, Salary
FROM Employees;

In [4]:
#Q5. Explain Primary Key and Foreign Key.

"""
Primary Key:

Uniquely identifies each record in a table.
Must be unique and cannot contain NULL values.


Foreign Key:

Establishes a relationship between two tables.
Links the foreign key column(s) in one table to the primary key column(s) in another table.
Enforces referential integrity and maintains consistency between related tables.
"""

'\nPrimary Key:\n\nUniquely identifies each record in a table.\nMust be unique and cannot contain NULL values.\n\n\nForeign Key:\n\nEstablishes a relationship between two tables.\nLinks the foreign key column(s) in one table to the primary key column(s) in another table.\nEnforces referential integrity and maintains consistency between related tables.\n'

In [ ]:
#Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("select c1 ,c5 from test1.test_table")
for i in mycursor.fetchall():
    print(i)

In [ ]:
#Q7. Give the order of execution of SQL clauses in an SQL query.

1.FROM
2.WHERE
3.GROUP BY
4.HAVING
5.SELECT
6.ORDER BY
7.LIMIT / OFFSET